<%= simple_form_for(@link) do |f| %>
    <%= f.error_notification %>

<div class="form-inputs">
    <%= f.input :url %>
    <%= f.input :typep %>
    <%= f.collection_select :user_id, User.order(:id),:id,:phoneno, include_blank: true %>
</div>

<div class="form-actions">
    <%= f.button :submit %>
</div>
<% end %>
