<%= simple_form_for(@link) do |f| %>
    <%= f.error_notification %>

<div class="form-inputs">
    <%= f.input :url, :label=> "Enter your url here" %>
    <%= f.input :typep, :label => "True means public, false means private" %>
    <%= f.input :tag_list, :label => "Enter tags separated by comma" %>
</div>

<div class="form-actions">
    <%= f.button :submit %>
</div>
<% end %>
